extends layout

block content
    h1= title
    if user.cartSize == 0
        .alert.alert-warning(role='alert')
          | <strong> 0 items in cart </strong>
    else
        .row
            .col-sm-6
                for restaurant in cart
                    .card.card-block
                        .card-text
                            for item in restaurant.added
                                p #{ item.item.name } - Qty: #{ item.qty }
      
