extends layout

block content
    
    
block menu
    if user
        li(class='nav-item pull-xs-right')
            span Hello, #{ user.username }
        li(class='nav-item pull-xs-right')
            a(href='/users/logout') Logout
    else
        li(class='nav-item pull-xs-right')
            a(class='nav-link', href='/users/login?type=customer') Login