.footer
    | <br>
    .container
        p(class='text-muted')
            | MongoDB/Express/Node software re-engineering of <a href='https://bitbucket.org/cyang001/break-bread-with-friends'> 
            | Break Bread with Friends </a>
