extends layout

block content
  h1= title
  .row
    .col-sm-6
        div(class='card card-inverse card-info text-xs-center')
            .card-block
                .blockquote(class='card-blockquote')
                    p 
                        | You want to reserve a spot at a restaurant. <br>
                        a(href='#{ customer }') Customer 
    .col-sm-6
            div(class='card card-inverse card-info text-xs-center')
                .card-block
                    .blockquote(class='card-blockquote')                      
                        p
                            | You are a restaurant owner. <br>
                            a(href='/users/login?type=owner') Owner
                        if restaurants
    
    include restaurants-loop
