extends layout-owner

include feed-item-mixin

block content
    #main
        for order in orders
            if order.approved == sortBy
                +feedItem(order)
                

block afterJQ

    script(src='/socket.io/socket.io.js')
    script.
        var socket = io.connect('http://localhost');
        socket.on('#{ restaurantInfo._id }', function(transactionID) {
            $.ajax({
                url: '/restaurant/render/jade/food/item',
                type: 'get',
                data: {tid: transactionID},
                success: function(res){
                    $('#main').prepend(res.html);
                    },
                error: function(err){console.log(err);}
                });
        });
